body {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: flex;
    gap: 30px;
}

.calculator {
    width: 260px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.display {
    background: #222;
    color: #0f0;
    font-size: 32px;
    text-align: right;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 18px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #dcdcdc;
    transition: 0.2s;
}

.btn:hover {
    background: #bfbfbf;
}

.operator {
    background: #ffb84d;
}

.operator:hover {
    background: #e6a744;
}

.equals {
    background: #4caf50;
    color: white;
}

.equals:hover {
    background: #449d48;
}

.history {
    width: 200px;
}

.history h2 {
    margin-bottom: 10px;
}

#history-list {
    background: #fff;
    padding: 10px;
    height: 350px;
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#history-list li {
    margin-bottom: 8px;
    font-size: 16px;
}
.delete {
    background: #ff6666;
    color: white;
}

.delete:hover {
    background: #e65c5c;
}

